@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	Transitioning between pages with different heights using framer motion may cause the scrollbar
 	to continuously appear and disappear. This always keeps the right bar visible and always keeps the
 	bottom bar hidden so the transition is always smooth.
*/
html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow-x: hidden;
}

.safari-peek-area {
	transition-property: color, background;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		theme('colors.rose.950') 0%,
		theme('colors.rose.950') 50%,
		theme('colors.gray.100') 50%,
		theme('colors.gray.100') 100%
	);
	background: -webkit-linear-gradient(
		top,
		theme('colors.rose.950') 0%,
		theme('colors.rose.950') 50%,
		theme('colors.gray.100') 50%,
		theme('colors.gray.100') 100%
	);
	height: 100%;
	width: 100%;
}

html.dark .safari-peek-area {
	background: linear-gradient(
		to bottom,
		theme('colors.gray.950') 0%,
		theme('colors.gray.950') 50%,
		theme('colors.gray.900') 50%,
		theme('colors.gray.900') 100%
	) !important;
	background: webkit-linear-gradient(
		top,
		theme('colors.gray.950') 0%,
		theme('colors.gray.950') 50%,
		theme('colors.gray.900') 50%,
		theme('colors.gray.900') 100%
	) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cardo', serif;
}

span,
p {
	font-family: 'Lato', sans-serif;
}
