@import 'colors.scss';
@import 'z-indexes.scss';

.container {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

.headshot {
	height: 267px;
	width: 400px;
	border-radius: 22px;
}

.roundedBackground {
	position: absolute;
	top: 24px;
	left: 24px;
	width: 400px;
	height: 267px;
	background-color: $color-maroon;
	border-radius: 22px;
	z-index: $headshotColoredRectangleZ;
}

.headshotContainer {
	position: relative;
}

.menuSection {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.heroSection {
	display: flex;
	justify-content: space-between;
	padding: 180px 0;
}

.heroDescriptionContainer {
	display: flex;
	flex-direction: column;
	padding-top: 32px;
}

.heroDescription {
	padding-bottom: 16px;
}
